[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = sandbox to play with memory allocation
[access "refs/*"]
	owner = group user/Gabriel Ganne (GabrielGanne)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Gabriel Ganne (GabrielGanne)
	label-Verified = -1..+1 group user/Gabriel Ganne (GabrielGanne)
	push = group user/Gabriel Ganne (GabrielGanne)
	read = group user/Gabriel Ganne (GabrielGanne)
	rebase = group user/Gabriel Ganne (GabrielGanne)
	removeReviewer = group user/Gabriel Ganne (GabrielGanne)
	submit = group user/Gabriel Ganne (GabrielGanne)
[access "refs/heads/*"]
	create = group user/Gabriel Ganne (GabrielGanne)
	push = +force group user/Gabriel Ganne (GabrielGanne)
	pushMerge = group user/Gabriel Ganne (GabrielGanne)
	read = group user/Gabriel Ganne (GabrielGanne)
[access "refs/tags/*"]
	push = group user/Gabriel Ganne (GabrielGanne)
	push = +force group user/Gabriel Ganne (GabrielGanne)
